@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Michroma&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    background-image: url("https://drive.google.com/uc?id=106upG5k8nuQq-TSy_mQiTaJUKgkqJUU2");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}

.wrap
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social
{
   text-align: center;
   


}

.head{
    text-align: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
    

}
.social a{
    text-decoration: none;
    color:white;
    font-size: 25px;
}
